
@media (max-width:1199px){
    .container{
        width: 960px;
        margin: 0 auto;
    }
    .l-side-heading{
        font-size: 45px;
    }
    .banner{
        max-height: 700px;
    }
}



@media (max-width:991px){
    .container{
        width: 720px;
        margin: 0 auto;
    }
    .nav-toggle{
        display: block;
    }
    .nav-menu ul li{
        display: none;
    }
    .nav-menu ul li:last-child{
        display: block;
        font-size: 24px;
    }
    .nav .nav-brand a, .nav-toggle a, .nav-menu ul li a{
        font-size: 30px;
    }
    .banner{
        max-height: 700px;
    }
    .l-side-heading{
        font-size: 35px;
    }
    .typing-effect{
        color: #3A3A3A;
    }
    .typing-effect:before{
        display: none;
    }
    .collections{
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
    .contact {
        display: grid;
        grid-template-columns: 1fr;
    }
    .news-letter{
        margin-bottom: 50px;
    }
    .vertical-line{
        display: none;
    }
}
@media (max-width:767px){
    .container{
        width: 540px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }
    .nav{
        justify-content: space-between;
    }
    .nav-toggle{
        display: block;
    }
    .nav-menu ul li{
        display: none;
    }
    .nav-menu ul li:last-child{
        display: block;
        font-size: 24px;
    }
    .banner{
        display: flex;
        flex-direction: column;
        margin: 50px auto;
        text-align: center;
    }
    .l-side{
        order: 2;
        margin-top: 50px;
    }

    .l-side-heading{
        font-size: 40px;
    }
    .typing-effect{
        color: #3A3A3A;
    }
    .typing-effect:before{
        display: none;
    }
    .collections{
        grid-template-columns:1fr;
        width: 100%;
    }
    .contact {
        display: grid;
        grid-template-columns: 1fr;
    }
    .news-letter{
        margin-bottom: 50px;
    }
    .vertical-line{
        display: none;
    }
}
@media (max-width:575px){
    .container{
        width: 95%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }
    .nav-menu{
        display: none;
    }
    .nav{
        justify-content: space-between;
    }
    .nav-toggle{
        order: 2;
    }
    .banner{
        display: flex;
        flex-direction: column;
        margin: 50px auto;
        text-align: center;
    }
    .l-side{
        order: 2;
        margin-top: 50px;
    }

    .l-side-heading{
        font-size: 35px;
    }
    .typing-effect{
        color: #3A3A3A;
    }
    .typing-effect:before{
        display: none;
    }
    .collections{
        grid-template-columns:1fr;
        width: 100%;
    }
    .contact {
        display: grid;
        grid-template-columns: 1fr;
    }
    .news-letter{
        margin-bottom: 50px;
    }
    .vertical-line{
        display: none;
    }
}