/* import google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

/* common style list  */
*{
    margin: 0;
    padding: 0;
    outline: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;}
.container{
    width: 1144px;
    margin: 0 auto;
}


/* -------------------
---- header start -------
----------------------  */
.nav {
    display: flex;
    justify-content: space-between;
    height: 120px;
    align-items: center;
}
.nav .nav-brand a{
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
}
.nav-menu ul{
    display: flex;
}
.nav-menu ul li{
    list-style-type: none;
    margin-left: 34px;
}
.nav-menu ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #3A3A3A;
    font-weight: 600;
}


/* banner  */
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px);
}
.l-side {
    flex: 1;
}
.r-side{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.r-side img{
    width: 80%;
}
.l-side-heading{
    font-size: 52px;
    color: #3A3A3A;
    line-height: 70px;
    font-weight: 700;
    margin-bottom: 16px;
}
.l-side-paragraph{
    font-size: 16px;
    color: #3A3A3A;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}
.banner-btn{
    font-size: 16px;
    background-color: #E02C6D;
    color: #FFFFFF;
    line-height: 24px;
    font-weight: 700;
    padding: 10px 24px;
    border: none;
    border-radius: 50px;
}
.banner-btn i{
    margin-left: 8px;
}



/* ---------------------------------
----------collection part ----------
--------------------------------- */

.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.collection-items{
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 17px 15px;
}
.collection-items img{
    width: 100%;
}